extend layout
block content
    h2.text-align-center what is stash.roulette?
    hr
    .front-page-post
        blockquote.text-align-center
            | The stash.roulette platform is brand new, and ready to rock! 
            | Scroll down to see how social media sharing just got more interesting!
        a(href='#technology')
            .arrow
        .about-boxes
            .about-box
                span.device-icon.icon-wrapper.mobile-phone
                    i.fa.fa-mobile-phone
                br
                label Your Devices
                br
                span.info
                    | Enjoy stash.roulette's social sharing cababilities from 
                    | all your desktop &amp; mobile devices in forthcoming iterative 
                    | releases.
            .about-box
                span.device-icon.icon-wrapper.file
                    i.fa.fa-file
                br
                label Your Files
                br
                span.info
                    | Our revolutionary community sponsored hosting solution
                    | ensures the files you value most are available.
            .about-box
                span.device-icon.icon-wrapper.server
                    i.fa.fa-server
                br
                label Our Hardware
                br
                span.info
                    | Additional resources are being added daily as demand requires.  
                    | Our staff is working diligently to provide exceptionally fast 
                    | access to files you and your peers value the most.
                
    .front-page-post
        blockquote.text-align-center
            | We are building a social, community driven data storage
            | solution that places mutual value ahead of the individual.
        p.text-align-center
            | We hope to positively impact our planet by removing unused and
            | unnecessary data from our servers.  Huge amounts of power and
            | environmentally harmful resources are used in data centers 
            | every day to provide access to information that is seldom, if
            | ever used. <br> We aim to change that.

    .front-page-image.blog
        .message
            | A high availability, intelligent storage platform for tomorrow.

    a(name='blog')
    h2.text-align-center from our blog
    hr

    h4.text-align-center coming soon!

    .front-page-image.technology
        .message
            | Value driven content sculpted by people and perfected by machines.

    a(name='technology')
    h2.text-align-center stash.roulette technology
    hr

    .front-page-image.who-we-are
        .message
            | People provide the value, we support the people.


    a(name='whoweare')
    h2.text-align-center who we are
    hr

    .employee-gallery
        .employee.dunning
            .image
            .name Erik Dunning
            .position Distributive Systems Architect
        .employee.cisler
            .image
            .name Kevin Cisler
            .position Principal Investor, Board Director
        .employee.weber
            .image
            .name Vicki Weber
            .position Executive Business Analyst
        .employee.landstone
            .image
            .name Ty Landstone
            .position Design Director
        .employee.butterfield
            .image
            .name Herman Butterfield
            .position ????
        .employee.henricks
            .image
            .name Matt Henricks
            .position Full Stack Director

    a(name='signup')
    h2.text-align-center signup
    hr

    form.contact-form(action='/signup', method='post')
        label(for='name') Name
        input(type='text',name='name',placeholder='name')
        br
        label(for='email') Email Address
        input(type='text',name='email',placeholder='email address')
        br
        label(for='source') How did you learn about stash.roulette?
        input(type='text',name='source',placeholder='source')
        br
        label(for='use') Intended use case:
        br
        textarea(name='use',placeholder='please tell us your use case so we can better serve you')
        br
        button(type='submit') Send
        button(type='reset') Reset


