doctype
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/style.css')
    body
        header
            .video-wrapper
                video(src='/files/blurred.mp4', autoplay, loop)
            img(src='/files/stash.roulette.svg', class='logo-image')
            h4(class='header-tagline') #{description} 
        .main-content
            block content
        footer
            p Running on node with Express, Jade and Stylus

