doctype
html
    head
        title #{title}
        meta(description='stash.roulette is a cloud based storage community with a conscience')
        meta(keywords='storage,stash.roulette,stash,roulette,startup,madison,wi,tech,technology,network,solution,service')
        meta(author='stash.roulette')

        <!-- Twitter Card data -->
        meta(name='twitter:card',value='stash.roulette is a cloud based storage community with a conscience')

        <!-- Open Graph data -->
        meta(property='og:title',content=title)
        meta(property='og:type',content='article')
        meta(property='og:url',content='http://www.stashroulette.com/')
        meta(property='og:image',content='/img/promo.jpg')
        meta(property='og:description',content='stash.roulette is a cloud based storage community with a conscience')

        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=PT+Sans')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='shortcut icon', href='/files/favicon.ico')
        script(src='https://code.jquery.com/jquery-2.2.4.min.js',integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=',crossorigin='anonymous')
        script(src='/js/stashroulette.js')
    body
        header
            a(name='home')
            .video-wrapper
                video(src='/files/blurred.webm', autoplay, loop)
            img(src='/files/stash.roulette.svg', class='logo-image')
            h4(class='header-tagline') #{description}
            .header-links
                a.header-link(href="/#home") home
                a.header-link(href="/#technology") technology
                a.header-link(href="/#whoweare") who we are
                a.header-link(href="/#signup") signup
                a.header-link(href="http://stashroulette.blogspot.com/",target="_blank") blog
        .main-content
            block content
        footer
            p.social-icons
                a(target='_blank',href='http://twitter.com/stash_roulette')
                    span.icon-wrapper.twitter
                        i.fa.fa-twitter.footer-icon
                a(target='_blank',href='http://facebook.com/stash.roulette')
                    span.icon-wrapper.facebook
                        i.fa.fa-facebook.footer-icon
                a(target='_blank',href='http://instagram.com/stash.roulette')
                    span.icon-wrapper.instagram
                        i.fa.fa-instagram.footer-icon

            p.contact-information
                | Please direct all media queries to our business
                | number or office email.  <br><br>
                | (608) 622-5763 | <a href="mailto:contact@stashroulette.com">contact@stashroulette.com</a>

    .modal-background
        .modal-close X
        .modal

    .hide.signup-modal-content
        .model-content
            h2.text-align-center thanks for registering
            p.text-align-center We'll keep you posted as more functionality becomes available!

