body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
    min-width: 960px;
}

header, footer {
    position: relative;
}

footer {
    background-color: #3d3d3d;
    min-height: 261px;
    padding: 53px 0;
    margin-top: 75px;
    color: white;
    text-align: center;
}

footer a:link,
footer a:active,
footer a:visited,
footer a:hover{
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 36px;
    padding-top: 70px;
    font-weight: 700;
}

h4 {
    font-family: 'PT Serif';
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
}

hr {
    border-style: none;
    border-width: 0;
    margin: 33px auto 63px;
    background-color: #bbb;
    width: 100px;
    height: 5px;
}

blockquote {
    border: none;
    font-size: 28px;
    font-weight: 700;
    color: #575757;
    width: 100%;
    margin: auto;
    padding: 0;
}

.arrow {
    border-bottom: solid 6px #bbb;
    border-left: solid 6px #bbb;
    transform: rotate( -45.0deg );
    width: 40px;
    height: 40px;
    margin: 20px auto;
}

.text-align-center {
    text-align: center;
}

.hide {
    display: none;
}

.video-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 556px;
    position: relative;
}
.video-wrapper video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
}

.logo-image {
    position: absolute;
    width: 300px;
    top: 50px;
    left: calc( 50% - 150px );
    background: rgba(0,0,0,0.25);
    border-radius: 25px;
}

.header-tagline {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    color: white;
}

.header-links {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
}

.header-links .header-link:link,
.header-links .header-link:visited,
.header-links .header-link:active,
.header-links .header-link:hover {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    border-right: solid 2px white;
    padding: 0 40px;
}

.header-links .header-link:last-child {
    border: none;
}

.front-page-post {
    padding-bottom: 63px;
    width: 66.75%;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
}

.front-page-image {
    width: 100%;
    height: 568px;
    overflow: hidden;
    position: relative;
    background-image: url('/img/providing.jpg');
    background-size: cover;
    backgronnd-repeat: no-repeat;
}
.front-page-image img {
    width: 100%;
}
.front-page-image.blog {
    background-image: url('/img/fulltable.jpg');
}
.front-page-image.technology {
    background-image: url('/img/dartboard.jpg');
}
.front-page-image.who-we-are {
    background-image: url('/img/fulltable.jpg');
}
.front-page-image .message {
    position: absolute;
    display: table-cell;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 250px;
    color: white;
    font-weight: 400;
    font-size: 32px;
    font-style: italic;
    font-family: serif;
    text-shadow: 0 0 15px black;
}

.about-boxes {
    max-width: 1200px;
    margin: 60px auto 0 auto;
    display: flex;
}

.about-boxes .about-box {
    flex: 1;    
    padding: 20px;
    background: rgba(0,0,0,0.10);
    margin: 0 10px;
    text-align: center;
}

.about-boxes .about-box .device-icon {
    font-size: 60px;
}

.about-boxes .about-box label {
    font-size: 30px;
    font-style: italic;
    font-family: serif;
    font-weight: 500;
    line-height: 1.6em;
}


/* Employee Gallery */
.employee-gallery {
    display: flex;
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.employee-gallery .employee {
    padding: 40px;
    cursor: pointer;
    transition: opacity 0.25s;
}
.employee-gallery .employee:hover {
    opacity: 0.75;
}

.employee-gallery .employee .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: none;
    background-position: center;
    background-image: url('/img/reynolds.jpg');
}
.employee-gallery .employee.dunning .image {
    background-image: url('/img/headshots/dunning.jpg');
}
.employee-gallery .employee.landstone .image {
    background-image: url('/img/headshots/landstone.jpg');
}
.employee-gallery .employee.henricks .image {
    background-image: url('/img/headshots/henricks.jpg');
}
.employee-gallery .employee.weber .image {
    background-image: url('/img/headshots/weber.jpg');
}
.employee-gallery .employee.cisler .image {
    background-image: url('/img/headshots/cisler.jpg');
}

.employee-gallery .employee .name {
    color: #608c28;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 24px;
    line-height: 21px;
    text-align: center;
}

.employee-gallery .employee .position {
    text-align: center;
}


/* Social Icons */

.social-icons {
    text-align: center;
    font-size: 40px;
}

.social-icons a:link,
.social-icons a:active,
.social-icons a:visited,
.social-icons a:hover{
    color:white;
    padding: 20px;
}



/* Contact Form */

.contact-form {
    width: 600px;
    line-height: 2em;
    margin: 0 auto;
}

.contact-form input {
    float: right;
    height: 2em;
    padding: 0 10px;
    width: 250px;
    border: solid 1px gray;
}

.contact-form button {
    float: right;
    margin: 10px 0 10px 10px;
    padding: 10px;
}

.contact-form textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
    border: solid 1px gray;
}

/* Modals */
.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);;
}
.modal-background.open {
    display: block;
}

.modal {
    position: fixed;
    width: 800px;
    height: 600px;
    background:white;
    top: calc( 50% - 300px );
    left: calc( 50% - 400px );
}

.modal-close {
    position: fixed;
    top: 40px;
    right: 60px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 40px;
}

